@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');

body{
    background-color:  #2b1c51;
    max-width: 1060px;
    position: relative;
}
.aside{
    height: 800px;
    width: 20%;
	background: #010338;

}

.content__pp{
    height: 250px;
    width: 100%;
    /* border: 2px solid black; */
    text-align: center;
    background-image: url("assets/img/circ.gif");
    background-repeat: repeat;
    background-position: center top;
}
.content__about{
    height: 120px;
    width: 100%;
    border-top: 8px solid #f39554;
    border-bottom: 8px solid #f39554;
    text-align:right;
    color: #f39554;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    padding: 20px 30px;
    font-family: Roboto Condensed, sans-serif;
}
.content__edu{
    height: 150px;
    width: 100%;
    /* border-top: 8px solid #f39554; */
    border-bottom: 8px solid #f39554;
    text-align:right;
    color: #f39554;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    padding: 20px 30px;
    font-family: Roboto Condensed, sans-serif;
}
.content__exp{
    height: 150px;
    width: 100%;
    /* border-top: 8px solid #f39554; */
    border-bottom: 8px solid #f39554;
    text-align:right;
    color: #f39554;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    padding: 20px 30px;
    font-family: Roboto Condensed, sans-serif;
}
.content__skills{
    height: 120px;
    width: 100%;
    /* border-top: 8px solid #f39554; */
    border-bottom: 8px solid #f39554;
    text-align:right;
    color: #f39554;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    padding: 20px 30px;
    font-family: Roboto Condensed, sans-serif;
}
.header__name{
    text-align:left;
    color: #f39554;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    padding: 5px 30px;
    font-family: Roboto Condensed, sans-serif;
    display: inline-block;
     /* border: 2px solid #f39554; */
     position: absolute;
     top: 5%;
     left: 20%;
}
.header__title{
    text-align:left;
    color: #f39554;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    padding: 5px 30px;
    font-family: Roboto Condensed, sans-serif;
    display: block;
     /* border: 2px solid #f39554; */
     position: absolute;
     top: 14%;
     left: 20%;
}
.header__info{
    text-align:left;
    color: #f39554;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 5px 30px;
    font-family: Roboto Condensed, sans-serif;
    display: block;
     position: absolute;
     top: 20%;
     left: 20%;
     font-size: 13px;
}
.header__social{
    text-align:left;
    color: #f39554;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 5px 30px;
    font-family: Roboto Condensed, sans-serif;
     position: absolute;
     top: 23%;
     left: 18%;
     font-size: 13px;
}
h1, h3, p{
    padding: 4px 0;
    margin: 0;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin-right: 40px;
}
a{
    color: #f39554;
    text-decoration: none;
}
a:hover{
    color: white;
}
.about{
    text-align:left;
    color:white;
    letter-spacing: 1.5px;
    padding: 5px 30px;
    font-family: Roboto Condensed, sans-serif;
    font-size: 12px;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    display: block;
     position: absolute;
     top: 33%;
     left: 20%;
}
.education{
    text-align:left;
    display: block;
     position: absolute;
     top: 46%;
     left: 20%;
}
.environment{
    text-align:left;
    display: block;
     position: absolute;
     top: 65%;
     left: 20%;
}
.education__head{
    color:white;
    letter-spacing: 1.5px;
    padding: 5px 30px;
    font-family: Roboto Condensed, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.education__body{
    color:white;
    letter-spacing: 1.5px;
    padding: 1px 30px;
    font-family: Roboto Condensed, sans-serif;
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}