body {
    background-color: rgb(38, 38, 129);
}

/* CONTAINER */

.container {
    margin: 0 auto;
    padding: 0 15px;
}

body>main>section.banner {
    background-color: #fff;
}

.container-lg-width {
    max-width: 1060px;
}

.demo a {
    padding-top: 1500px;
    position: absolute;
    left: 42%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #010338;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

#portfolio a span {
    position: absolute;
    top: 93%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #010338;
    border-bottom: 2px solid #010338;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1s infinite;
    animation: sdb05 1s infinite;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

header {
    background-color: black;
    position: sticky;
    transition: all .3s ease-in-out;
    padding: 0;
    top: 0;
}

body>main>section.banner>nav>div {
    height: 110px;
    width: 100%;
    z-index: 1000;
}

section.banner>nav>div {
    position: relative;
}

/* general styles */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.project,
.job {
    padding: 60px 0;
}

.section-heading__title {
    color: #010338;
    text-align: center;
    margin: 0;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-heading__p {
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 25px;
    letter-spacing: 2px;
    color: #010338;
}

/* general styles */

/* Header */

nav {
    background-color: #FFF;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__list li {
    display: inline-block;
}

.nav__brand {
    padding: 10px 0;
}

.nav__brand img {
    height: 80px;
}

.nav__left {
    float: left;
}

.nav__right {
    float: right;
}

.nav__link {
    display: block;
}

.nav__right .nav__link {
    text-decoration: none;
    color: #010338;
    display: block;
    padding: 43px 12px;
}
.nav__right .nav__link:hover{
    color: #f39554;
}

/* header ends */

/* banner */

.banner {
    margin-top: 0;
    height: 780px;
    padding-top: 70px;
    background-repeat: no-repeat;
}

body>main>section.banner>div>img {
    height: 200px;
    width: 200px;
    position: absolute;
}

body>main>section.banner>div>img:nth-child(2) {
    bottom: 20%;
    right: 30%;
}

body>main>section.banner>div>img:nth-child(3) {
    bottom: 20%;
    left: 30%;
}

.banner__p {
    color: #f39554;
    text-align: center;
    font-size: 20px;
}

.banner__details {
    padding: 15px;
}

.banner__details h1 {
    padding: 150px 20px 0 20px;
    text-align: left;
    color: #010338;
    font-weight: 900;
    font-size: 90px;
    line-height: 100px;
    letter-spacing: 10px;
}

/* banner */

/* project */

/* project */

/* Job section */

/* 
#toggle-btn{
    position: absolute;
    top: 9%;
    right:10%;
    z-index: 200;
    transition: transform 300ms ease 200ms;
  }
  #toggle-btn > span{
    position: relative;
    height: 5px;
    width: 50px;
    background: #010338;
    display: block;
    margin: 5px 0;
    transition: all 300ms ease 300ms;
  }
  #toggle-btn:active{
    right: 300px;
    transform: rotate(360deg);
  }
  #toggle-btn:active > span:nth-child(1){
    top: 10px;
    transform: rotate(45deg);
  }
  #toggle-btn:active> span:nth-child(2){
   opacity: 0;
  }
  #toggle-btn:active > span:nth-child(3){
    top: -10px;
    transform: rotate(-45deg);
  } */

.job__textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid #ddd;
}

.job__textarea:focus {
    border-color: #f39554;
    outline: none;
}

#job {
    height: 500px;
    width: 100%;
    background: #f39554;
}

#job>div>div.section-heading>h3 {
    color: #010338;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
}

.b07_3d_double_roll {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.back {
    width: 33%;
    height: 200px;
    float: left;
    background-color: #eeeeee;
    border: 10px;
    border-color: #ffffff;
    border-style: solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    counter-increment: bc;
    padding: 0px 5px 5px 5px;
}

.back:before {
    content: counter(bc) "_";
    position: absolute;
    padding: 10px;
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -103px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

.b07_3d_double_roll div {
    position: absolute;
    text-align: center;
    padding: 10px;
    border: #010338 solid 2px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b07_3d_double_roll div:nth-child(1) {
    color: #010338;
    background-color: #ffffff;
    z-index: 0;
    width: 100%;
    height: 50px;
    clip: rect(0px, 100px, 50px, 0px);
    position: absolute;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b07_3d_double_roll div:nth-child(2) {
    color: #010338;
    background-color: #010338;
    z-index: -1;
    width: 100%;
    height: 50px;
    clip: rect(0px, 100px, 50px, 0px);
    position: absolute;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b07_3d_double_roll div:nth-child(3) {
    color: #010338;
    background-color: #ffffff;
    z-index: 0;
    width: 100%;
    height: 50px;
    clip: rect(0px, 200px, 50px, 100px);
    position: absolute;
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b07_3d_double_roll div:nth-child(4) {
    color: #010338;
    background-color: #010338;
    z-index: -1;
    width: 100%;
    height: 50px;
    clip: rect(0px, 200px, 50px, 100px);
    position: absolute;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b07_3d_double_roll:hover div:nth-child(1) {
    background-color: #010338;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
}

.b07_3d_double_roll:hover div:nth-child(2) {
    color: #ffffff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.b07_3d_double_roll:hover div:nth-child(3) {
    background-color: #010338;
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
}

.b07_3d_double_roll:hover div:nth-child(4) {
    color: #ffffff;
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

/* .job__btn{
	border: 1px solid #b19063;
	background: #b19063;
	color: white;
	border-radius: 0;
	font-weight: 500;
	padding: 12px 14px;
	font-size: 18px;
	cursor: pointer;
} */

/* Job section */

/* footer */

.footer {
    background: white;
    padding: 15px 0;
    height: 290px;
}

.footer__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__list li {
    display: inline-block;
}

.footer__left {
    float: left;
    padding-top: 20px;
}

.footer__right {
    float: right;
}

.footer__links {
    padding: 20px 12px;
    display: block;
    color: black;
    text-decoration: none;
}

/* footer */

/* cards */

.card {
    background: #fff;
    min-height: 120px;
    margin-bottom: 30px;
}

.card__body {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.card__body img {
    width: 100%;
    height: 100%;
}

/* .card__footer{
	padding: 15px;
}
.card__footer h6{
	margin: 5px 0;
} */

.card__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #010338;
    opacity: 0.7;
    padding-top: 50px;
    transition: all 0.33s ease;
    transform: translateY(-100%);
}

.card__overlay-details {
    text-align: center;
    height: 112px;
}

.card__icons {
    font-size: 80px;
    color: white;
    font-weight: 600;
}

.card__links {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

/* Aside */

aside.cv {
    position: fixed;
    width: 70%;
    height: 100px;
    background: white;
    top: 0;
    right: -20px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    padding: 0 15px;
    transform: translate3d(100%, 0, 0);
}

@media (max-width: 425px) {
    .banner__p {
        color: #f39554;
        text-align: center;
        font-size: 20px;
    }
    .banner__details {
        padding: 15px;
    }
    .banner__details h1 {
        margin: 0;
        text-align: center;
        color: #010338;
        font-weight: 900;
        font-size: 26px;
        padding-top: 105px;
		line-height: 67px;
    letter-spacing: 6px;
    }
    #job>div>form>div.button_base.b07_3d_double_roll {
        margin-left: -30px;
    }
    #portfolio a span {
        position: absolute;
        top: 93%;
        left: 50%;
    }
    .demo a {
        display: none;
        padding-top: 1500px;
        position: absolute;
        left: 22%;
    }
}

/* cards */