body{
	background-color: #EEE;
}
/* CONTAINER */
.container{
	/* margin: 0 auto; */
	/* max-width: 800px;
	background: rgb(233, 227, 227); */
	padding: 0 15px;
}
/* Header */
nav{
	background-color: #FFF;
}
nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.nav__list li{
	display: inline-block;
}
.nav__brand{
	padding: 10px 0;
}
.nav__brand img{
	height: 80px;
	/* padding-top: 10px; */
}
.nav__left{
	float: left;
}
.nav__right{
	float: right;
}
nav ul:after{
	content: "";
	display: table;
	clear: both;
}
.nav__link{
	display: block;
}
.nav__right .nav__link{
	text-decoration: none;
	color: black;
	display: block;
	padding: 43px 12px;
}
.nav__active .nav__link{
	background: #b19063;
	font-weight: 700;
	color: white;
}
/* header ends */

/* banner */
.banner{
	height: 300px;
	background: url(../../assets/img/bg.jpg);
	padding-top: 119px;

}
.banner__details{
	padding: 15px;
}
.banner__details h1{
	margin: 0;
	text-align: center;
	color: white;
	font-weight: 900;
	font-size: 48px;
	line-height: 32px;
	background-attachment: fixed;
}
/* banner */
/* project */
.project{
	padding: 60px 0;
}
.project .container{
	max-width: 1060px;
	margin: 0 auto;
}
/* project */
/* Job section */
section.job{
	padding: 60px 0;
}
section.job .container{
	max-width: 1060px;
	margin: 0 auto;
}
.job__textarea{
	width: 100%;
	height: 150px;
	resize: none;
	border: 1px solid #ddd;
}
.job__textarea:focus{
	border-color: #b19063;
	outline: none;
}
.job__btn{
	border: 1px solid #b19063;
	background: #b19063;
	color: white;
	border-radius: 0;
	font-weight: 500;
	padding: 12px 14px;
	font-size: 18px;
	cursor: pointer;
}
/* Job section */
/* footer */
.footer{
	background: white;
	padding: 15px 0;
}
.footer__list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer__list li{
	display: inline-block;
}
.footer__list:after{
	content: '';
	display: table;
	clear: both;
}
.footer__left{
	float: left;
	padding-top: 20px;
}
.footer__right{
	float: right;
}
.footer__links{
	padding: 20px 12px;
	display: block;
	color: black;
	text-decoration: none;
}
/* .footer .container{
	max-width: 1060px;
	margin: 0 auto;
} */
/* footer */
/* cards */
.card{
	background: #fff;
	min-height: 120px;
	margin-bottom: 30px;
}
.card__body{
	height: 180px;
	position: relative;
	overflow: hidden;
}
.card__body img{
	width: 100%;
	height: 100%;
}
.card__footer{
	padding: 15px;
}
.card__footer h6{
	margin: 5px 0;
}
.card__overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #b19063;
	opacity: 0.77;
	padding-top: 34px;
	transition: all 0.33s ease;
	transform: translateY(-100%);
}
.card__overlay-details{
	text-align: center;
	height: 112px;
}
.card__icons{
	font-size: 80px;
	color: white;
	font-weight: 600;
}
.card__links{
	text-decoration: none;
	color: white;
	font-weight: 900;
}
.card:hover .card__overlay{
	transform: translateY(0);
}
/* cards */
