@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');
section {
    background-color: white;
    position: relative;
    font-family: Roboto Condensed, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.aside {
    height: auto;
    width: 20%;
    background: white;
    box-shadow: 5px 0px 20px rgba(1, 3, 56, 0.35);
}

.aside__content {
    width: 100%;
    text-align: left;
    color: #010338;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    padding: 0;
}

.content__pp {
    height: 250px;
    width: 100%;
    text-align: center;
    background-image: url("../../assets/img/aside.png");
    background-repeat: repeat;
    background-position: center top;
}

.content__about,
.content__edu,
.content__exp,
.content__skills {
    padding: 15px 0 0 15px;
}

.content__about,
.content__edu,
.content__exp {
    border-bottom: 4px solid #f39554;
}

.content__about {
    height: 80px;
    border-top: 4px solid #f39554;
}

.content__edu {
    height: 150px;
}

.content__exp {
    height: 130px;
}

.content__skills {
    height: 120px;
}

.header__name,
.header__title,
.header__info,
.header__social {
    text-align: left;
    color: #010338;
    padding: 5px 30px;
    position: absolute;
    display: block;
    left: 20%;
}

.header__name {
    letter-spacing: 5px;
    font-weight: 900;
    top: 5%;
}

.header__title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    top: 14%;
}

.header__info {
    letter-spacing: 1px;
    font-weight: 100;
    top: 20%;
    font-size: 13px;
}

.header__social {
    letter-spacing: 1px;
    font-weight: 100;
    top: 23%;
    font-size: 13px;
}

h1,
h3,
p {
    padding: 4px 0;
    margin: 0;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 40px;
}

a {
    color: #010338;
    text-decoration: none;
}

a:hover {
    color: #f39554;
}

.about {
    text-align: left;
    color: #010338;
    letter-spacing: 1.5px;
    padding: 5px 30px;
    font-family: Roboto Condensed, sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    display: block;
    position: absolute;
    top: 33%;
    left: 20%;
}

.education {
    text-align: left;
    display: block;
    position: absolute;
    top: 41%;
    left: 20%;
}

.environment {
    text-align: left;
    display: block;
    position: absolute;
    top: 59%;
    left: 20%;
}

.education__head {
    color: #010338;
    letter-spacing: 1.5px;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: 700;
}

.education__body {
    color: #010338;
    letter-spacing: 1.5px;
    padding: 1px 30px;
    font-size: 14px;
    font-weight: 400;
}

.skills {
    position: absolute;
    top: 77%;
    left: 23%;
    padding: 0;
    width: 70%;
}
div.skills > span{
    color:#010338;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
}
table{
	width: 600px;
}
th{
	display: inline;
	/* text-align: center; */
}
td{
	text-align: center;
	margin: 0;
}
tr{
	float: left;
	height: 80px;
	margin: 0 20px 0 0;
}
body > div > div.skills > table > tbody > tr:nth-child(5) > td{
	padding-left: 40px;
}
body > div > div.skills > table > tbody > tr:nth-child(6) > td{
	padding-left: 105px;
}
body > div > div.skills > table > tbody > tr:nth-child(7) > td{
	padding-left: 75px;
}
div.skills > table > tbody > tr:nth-child(1) > th {
	margin-left: 50px;
	font-family: Roboto Condensed, sans-serif;
	-webkit-font-smoothing: antialiased;
}
div.skills > table > tbody > tr:nth-child(2) > th {
	margin-left: 50px;
}
div.skills > table > tbody > tr:nth-child(3) > th {
	margin-left: 25px;
}
div.skills > table > tbody > tr:nth-child(4) > th {
	margin-left: 15px;
}
div.skills > table > tbody > tr:nth-child(5) > th {
	margin-left: 40px;
}
div.skills > table > tbody > tr:nth-child(6) > th {
	margin-left: 105px;
}
div.skills > table > tbody > tr:nth-child(7) > th > img{
	margin-left: 85px;;
}

div.skills > table > tbody > tr> td > h5 {

}

.icon {
    display: inline;
}

@media (max-width: 425px) {
    .aside__content {
        width: 100%;
        text-align: left;
        color: #010338;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 800;
        padding: 0;
        font-size: 14px;
    }
    .aside {
        width: 100%;
    }
    .content__pp {
        height: 250px;
        width: 30%;
        text-align: center;
        background-repeat: repeat;
        background-position: center top;
    }
    .content__about,
    .content__edu,
    .content__exp,
    .content__skills {
        padding: 5px 5px;
    }
    .content__about,
    .content__edu,
    .content__exp {
        border-bottom: 4px solid #f39554;
    }
    .content__about {
        height: 80px;
        border-top: 4px solid #f39554;
    }
    .content__edu {
        display: none;
        height: 150px;
    }
    .content__exp {
        display: none;
        height: 130px;
    }
    .content__skills {
        height: 120px;
		}
		table{
			width: 300px;
		}
		div.skills > table > tbody > tr> td{
			font-size: 12px;
		}
		div.skills > table > tbody > tr{
			height: 60px;
		}
	tbody > tr:nth-child(6) > th{
		margin: 0;
	}
	tbody > tr > th > img {
       height: 25px;
        margin-left: 10px;
    }
    .header__name,
    .header__title,
    .header__info,
    .header__social {
        text-align: left;
        color: #010338;
        padding: 5px 30px;
        position: absolute;
        display: block;
        left: 29%;
    }
    .header__name {
        letter-spacing: 5px;
        font-weight: 900;
        top: 2%;
    }
    .header__title {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 900;
        top: 11%;
    }
    .header__info {
        letter-spacing: 1px;
        font-weight: 100;
        top: 17%;
        font-size: 13px;
    }
    .header__social {
        letter-spacing: 1px;
        font-weight: 100;
        padding: 5px 0px;
        left: 35%;
        font-size: 14px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
        margin-right: 20px;
		}
		
    .about {
        text-align: right;
        color: #010338;
        letter-spacing: 1.5px;
        padding: 0px 30px;
        font-family: Roboto Condensed, sans-serif;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        display: block;
        position: absolute;
        top: 43.3%;
        left: 20%;
    }
    .education,
    .environment {
        text-align: right;
        display: block;
        position: absolute;
        
    }
    .education {
        display: none;
        top: 45%;
        left: 20%;
    }
    .environment {
        display: none;
        top: 58%;
        width: 300px;
        left: 14%;
    }
    .skills {
        position: absolute;
        padding: 0;
        width: 70%;
        top: 80%;
        left: 37%;
    }
    .education__head {
        text-align: right;
        color: #010338;
        letter-spacing: 1.5px;
        padding: 2px 30px;
        font-size: 14px;
        font-weight: 700;
    }
    .education__body {
        color: #010338;
        letter-spacing: 1.5px;
        padding: 1px 30px;
        font-size: 12px;
    }
}